In [43]:
import pandas as pd

In [44]:
deaths = pd.read_csv("deaths.csv")
confirmed = pd.read_csv("confirmed.csv")
recovered = pd.read_csv("recovered.csv")

In [34]:
deaths

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/3/20,3/4/20,3/5/20,3/6/20,3/7/20,3/8/20,3/9/20,3/10/20,3/11/20,3/12/20
0,NaN,Thailand,15.0000,101.0000,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
1,NaN,Japan,36.0000,138.0000,0,0,0,0,0,0,...,6,6,6,6,6,6,10,10,15,16
2,NaN,Singapore,1.2833,103.8333,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,NaN,Nepal,28.1667,84.2500,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,NaN,Malaysia,2.5000,112.5000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
401,"Oakland, MI",US,42.5922,-83.3362,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
402,"Wayne, MI",US,42.2791,-83.3362,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
403,"New Castle, DE",US,39.5393,-75.6674,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
404,NaN,Cuba,22.0000,-80.0000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
405,NaN,Guyana,5.0000,-58.7500,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [35]:
def formatize(table):
    del table["Lat"]
    del table["Long"]
    del table["Province/State"]
    return table.groupby("Country/Region").sum()

In [36]:
fd = formatize(deaths)

In [49]:
confy = confirmed.groupby("Country/Region").sum()

In [56]:
confy

,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,...,3/3/20,3/4/20,3/5/20,3/6/20,3/7/20,3/8/20,3/9/20,3/10/20,3/11/20,3/12/20
Country/Region,,,,,,,,,,,,,,,,,,,,,
Afghanistan,33.0000,65.0000,0,0,0,0,0,0,0,0,...,1,1,1,1,1,4,4,5,7,7
Albania,41.1533,20.1683,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,2,10,12,23
Algeria,28.0339,1.6596,0,0,0,0,0,0,0,0,...,5,12,12,17,17,19,20,20,20,24
Andorra,42.5063,1.5218,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
Argentina,-38.4161,-63.6167,0,0,0,0,0,0,0,0,...,1,1,1,2,8,12,12,17,19,19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
US,9448.6843,-22878.2259,1,1,2,2,5,5,5,5,...,118,149,217,262,402,518,583,959,1281,1663
Ukraine,48.3794,31.1656,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
United Arab Emirates,24.0000,54.0000,0,0,0,0,0,0,0,4,...,27,27,29,29,45,45,45,74,74,85
United Kingdom,140.8912,-11.1540,0,0,0,0,0,0,0,0,...,51,86,116,164,207,274,322,384,459,459
Vietnam,16.0000,108.0000,0,2,2,2,2,2,2,2,...,16,16,16,16,18,30,30,31,38,39

In [83]:
import json
with open('conf.json','w') as f:
    f.write(confy.to_json())

In [63]:
pip install moment

Collecting moment
  Using cached https://files.pythonhosted.org/packages/83/58/bcd2d9bdb9eca1d7e90a61a8e4c515b76255e0240db2d7653ba99428300b/moment-0.8.2.tar.gz
Collecting dateparser>=0.6 (from moment)
  Using cached https://files.pythonhosted.org/packages/ad/0c/aba72d8454c28ab3800f3efd1ab3fe4f3fa41eb2746adc0cdcb318200796/dateparser-0.7.4-py2.py3-none-any.whl
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/site-packages (from moment) (2019.3)
Collecting times (from moment)
  Using cached https://files.pythonhosted.org/packages/5d/2f/811d8183abae998effbbb1a191af2469a6c18bfcb4d3edfd4fe9c096c5f8/times-0.7-py2.py3-none-any.whl
Collecting regex!=2019.02.19 (from dateparser>=0.6->moment)
  Using cached https://files.pythonhosted.org/packages/e8/76/8ac7f467617b9cfbafcef3c76df6f22b15de654a62bea719792b00a83195/regex-2020.2.20.tar.gz
Collecting tzlocal (from dateparser>=0.6->moment)
  Using cached https://files.pythonhosted.org/packages/ef/99/53bd1ac9349262f59c1c421d8fcc2559ae8a5eeffed9202684756b648d33/tzlocal-2.0.0-py2.py3-none-any.whl
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/site-packages (from dateparser>=0.6->moment) (2.8.0)
Collecting arrow (from times->moment)
  Using cached https://files.pythonhosted.org/packages/92/fa/f84896dede5decf284e6922134bf03fd26c90870bbf8015f4e8ee2a07bcc/arrow-0.15.5-py2.py3-none-any.whl
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/site-packages (from python-dateutil->dateparser>=0.6->moment) (1.12.0)
Building wheels for collected packages: moment, regex
  Building wheel for moment (setup.py) ... done
  Stored in directory: /Users/iashris/Library/Caches/pip/wheels/a3/34/33/a815da729a0a46eb92201ef672b921e5d5a31fa7370fa3d5ba
  Building wheel for regex (setup.py) ... done
  Stored in directory: /Users/iashris/Library/Caches/pip/wheels/22/4a/99/3a20d265a6c7a186cc9903a4d45e29d0c8323c344e307b161e
Successfully built moment regex
Installing collected packages: regex, tzlocal, dateparser, arrow, times, moment
Successfully installed arrow-0.15.5 dateparser-0.7.4 moment-0.8.2 regex-2020.2.20 times-0.7 tzlocal-2.0.0
Note: you may need to restart the kernel to use updated packages.

In [64]:
del confy["Lat"]

In [65]:
del confy["Long"]

In [71]:
help(moment)

Help on package moment:

NAME
    moment

PACKAGE CONTENTS
    api
    core
    date
    parse
    utils

FILE
    /usr/local/lib/python3.7/site-packages/moment/__init__.py

In [80]:
(moment.date("1/22/20")-moment.date("1/24/20")).days

-2

In [81]:
confy.columns = map(lambda x: (moment.date(x)-moment.date("1/22/20")).days, confy.columns)

In [82]:
confy

,0,1,2,3,4,5,6,7,8,9,...,41,42,43,44,45,46,47,48,49,50
Country/Region,,,,,,,,,,,,,,,,,,,,,
Afghanistan,0,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,4,4,5,7,7
Albania,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,2,10,12,23
Algeria,0,0,0,0,0,0,0,0,0,0,...,5,12,12,17,17,19,20,20,20,24
Andorra,0,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
Argentina,0,0,0,0,0,0,0,0,0,0,...,1,1,1,2,8,12,12,17,19,19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
US,1,1,2,2,5,5,5,5,5,7,...,118,149,217,262,402,518,583,959,1281,1663
Ukraine,0,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
United Arab Emirates,0,0,0,0,0,0,0,4,4,4,...,27,27,29,29,45,45,45,74,74,85
United Kingdom,0,0,0,0,0,0,0,0,0,2,...,51,86,116,164,207,274,322,384,459,459
Vietnam,0,2,2,2,2,2,2,2,2,2,...,16,16,16,16,18,30,30,31,38,39

In [120]:
confy.loc['Italy']

0         0
1         0
2         0
3         0
4         0
5         0
6         0
7         0
8         0
9         2
10        2
11        2
12        2
13        2
14        2
15        2
16        3
17        3
18        3
19        3
20        3
21        3
22        3
23        3
24        3
25        3
26        3
27        3
28        3
29        3
30       20
31       62
32      155
33      229
34      322
35      453
36      655
37      888
38     1128
39     1694
40     2036
41     2502
42     3089
43     3858
44     4636
45     5883
46     7375
47     9172
48    10149
49    12462
50    12462
Name: Italy, dtype: int64

In [122]:
for row in confy.iterrows():
    print(row[0],drow(row[1]))

Afghanistan 1.0
Albania 2.125
Algeria 0.8333333333333334
Andorra 0.0
Argentina 1.4133333333333336
Armenia 0.0
Australia 1.5734751359751358
Austria 1.3360372633902045
Azerbaijan 0.0
Bahrain 1.8033333333333335
Bangladesh 0.0
Belarus 0.0
Belgium 1.8906719000376735
Bhutan 0.0
Bolivia 0
Bosnia and Herzegovina 0.3333333333333333
Brazil 0.5134920634920634
Brunei 0.0
Bulgaria 0.0
Burkina Faso 1.0
Cambodia 0.0
Cameroon 0.0
Canada 2.676709401709402
Chile 0.5
China 0.892608937720995
Colombia 1.5
Congo (Kinshasa) 0
Costa Rica 0.3333333333333333
Cote d'Ivoire 0
Croatia 0.6875
Cruise Ship 0.0
Cuba 0
Cyprus 1.75
Czechia 2.6875
Denmark 1.425569198243617
Dominican Republic 0.0
Ecuador 0.8333333333333334
Egypt 2.18218954248366
Estonia 2.25
Finland 1.1005102040816328
France 2.1412899101476186
French Guiana 0.0
Georgia 0.05555555555555555
Germany 2.6459312232209675
Greece 4.916599025974026
Guyana 0
Holy See 0.0
Honduras 0
Hungary 0.5416666666666666
Iceland 1.1432323232323234
India 1.2206452062430324
Indonesia 1.598076923076923
Iran 1.2496910349231485
Iraq 0.7502645502645504
Ireland 1.8846153846153846
Israel 1.5101426024955438
Italy 1.3209549243095948
Jamaica 0
Japan 1.639940940396321
Jordan 0.0
Korea, South 1.3732103506317603
Kuwait 0.26666666666666666
Latvia 1.375
Lebanon 1.1031746031746033
Liechtenstein 0.0
Lithuania 0.0
Luxembourg 0.25
Malaysia 1.1373737373737371
Maldives 0.5
Malta 0.25
Martinique 0.0
Mexico 0.6666666666666667
Moldova 0.0
Monaco 0.0
Mongolia 0.0
Morocco 0.6666666666666666
Nepal 0
Netherlands 1.4963173800000726
New Zealand 0.25
Nigeria 0.0
North Macedonia 0.0
Norway 1.8040853090283013
Oman 0.16666666666666666
Pakistan 0.075
Panama 7.0
Paraguay 0.0
Peru 1.05
Philippines 1.906153846153846
Poland 0.7066666666666667
Portugal 1.018800247371676
Qatar 6.335034013605442
Reunion 0
Romania 0.9166666666666666
Russia 1.8
San Marino 1.621768707482993
Saudi Arabia 0.42333333333333334
Senegal 1.0
Serbia 0.875
Singapore 0.8574413241079908
Slovakia 0.25
Slovenia 1.0583333333333333
South Africa 0.5
Spain 1.5755360828943825
Sri Lanka 0
Sweden 2.5129125657242244
Switzerland 1.6084873316586872
Taiwan* 0.7125
Thailand 0.75
Togo 0.0
Tunisia 0.2222222222222222
Turkey 0
US 2.09413934641
Ukraine 0.0
United Arab Emirates 0.05555555555555555
United Kingdom 1.6084767953894168
Vietnam 4.333333333333333

In [121]:
import copy
def drow(LL):
    L=copy.deepcopy(LL[-15:-1])
    Z = [y - x for x,y in zip(L,L[1:])]
    V = [y / x for x,y in zip(Z,Z[1:]) if x!=0]
    if len(V)>0:
        return sum(V)/len(V)
    else:
        return 0

In [107]:
drow([1,2,3,30,60,120,240,480])

[1.0, 27.0, 1.1111111111111112, 2.0, 2.0, 2.0]